#t201-ol-container {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  // display: block;
}

#t201-ol-datgui {
  z-index: 20;
  position: absolute;
  margin-top: 5px;
  right: -10px;
}

#t201-ol-map {
  z-index: 10;
  // position: absolute;
  // margin: 0;
  // border: 0;
  // padding: 0;
  height: 100%;
  width: 100%;
  background-color: green;
}
