.t209-layout {
  height: 100%;
}

.t209-header {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 0px;
  margin: 0px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.t209-header .logo {
  width: 300px;
  height: 64px;
  float: left;
}

.t209-header h1 {
  margin-left: 15px;
}

.t209-header .buttons-list {
  height: 64px;
}

.t209-header .buttons-list button {
  margin-left: 5px;
}

.t209-content {
  padding: 0px;
  margin: 0px;
}

.t209-content .inner-content {
  padding: 0px;
  margin: 0px;
  background: #fff;
  height: 100%;
}
