.t216-layout {
  height: 100%;
}

.t216-header {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 0px;
  margin: 0px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.t216-header .logo {
  width: 300px;
  height: 64px;
  float: left;
}

.t216-header h1 {
  margin-left: 15px;
}

.t216-header .menu-list {
  height: 64px;
  float: right;
  margin-right: 20px;
}

.t216-header .buttons-list {
  height: 64px;
  margin-left: 400px;
}

.t216-header .buttons-list button {
  margin-left: 5px;
}

.t216-content {
  padding: 0px;
  margin: 0px;
}

.t216-content .left-content {
  padding: 0px;
  margin: 0px;
  background: white;
  width: 60%;
  height: 100%;
  float: left;
}

.t216-content .right-content {
  padding: 0px;
  margin: 0px;
  background: white;
  width: 40%;
  height: 100%;
  // float: right;
  display: inline-block;
}
