<nz-layout class="t102-layout">
  <nz-header class="t102-header">
    <div class="logo">
      <h1>{{title}}</h1>
    </div>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="draw-canvas">draw-canvas</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="animation-canvas">animation-canvas</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="parabolic-motion">parabolic-motion</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="goes-west-loop">goes-west-loop</a>
      </li>
    </ul>
  </nz-header>
  <nz-content class="t102-content">
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
