p {
  padding: 0px;
  margin: 0px;
  height: 64px;
}

[nz-button] {
  margin: 15px;
  width: 120px;
}

#goes-west-loop-image {
  margin: 15px;
  width: 600px;
  height: 600px;
  background-color: blue;
}

#goes-west-loop-play {
  width: 320px;
}

#goes-west-loop-label {
  margin-left: 15px;
}
