/* You can add global styles to this file, and also import other style files */
@import "ol/ol.css";

@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/eclipse.css";


html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

